/*Styles for Matthew's Site*/
body {
	font-family: 'Noto Sans JP', Arial, sans-serif;
	background-color: #FFF;
	color: #353535;
	margin:0px;
	padding: 0px;
}
h1 {
	font-family: 'Noto Sans JP', Arial, sans-serif;
	font-size: 3.5em;
	color: #2F5875;
	/* color: #3c6e7-1; Old header teal color; remove dash. */
}
h2 {
	font-family: 'Noto Sans JP', Arial, sans-serif;
	color: #2F5875;
	font-size: 1.7em;
}
h3 {
	font-family: 'Cormorant Garamond', 'Times New Roman', serif;
	color: #2F5875;
	font-size: 1.5em;
}
/*.contact > h3 {
	font-family: 'Noto Sans JP', Arial, sans-serif;
	color: #2F5875;
	font-size: 1em;
}*/


#header {
	height:100px;
	display:block;
	line-height: 75px;
	text-align:center;
}
.navbar {
	background-color: #D9D9D9;
	height:50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 3px solid #D9D9D9;
	box-shadow:2px 0px 2px #121212;
}
.branding {
	margin: 0px;
	/*width: 210px;
	display: block;
	float: left;*/
	flex: 0 1 30%;
	text-align:left;
	margin-left:10px;
}
.branding a {
	text-decoration:none;
	color: #2F5875;
}
.contact {
	margin-right:10px;
	/*display: block;
	float: right;*/
	/*font-style: italic;*/
	text-align: right;
	/*width: 210px;*/
	flex: 0 1 10%;
	
}
.contact a {
	text-decoration:none;
	font-family: 'Noto Sans JP', Arial, sans-serif;
	font-size: 0.68em;
	font-weight:normal;
	color: #2F5875;
}
#nav-elt {
	height:50px;
	flex:0 1 60%;
}
#nav-elt ul {
	list-style:none;
	margin:0px;
	padding:0px;
	gap: 16px;
    display: flex;
    justify-content: flex-end;
}
#nav-elt a {
	text-decoration:none;
	color: #2F5875;
	display: block;
	float: right;
	text-align: center;
	height: 50px;
	flex: 0 1 auto;
	/* width: 100px; */
	line-height: 50px;
}
#nav-elt #active {
	border-bottom: 3px solid #2F5875;
}
#nav-elt a:hover {
	border-bottom: 3px solid #2F5875;
	opacity: 0.7;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow:2px 0px 4px #121212;
}
#main {
	width:800px;
	margin-left:auto;
	margin-right:auto;
}
#footer {
	height: 60px;
	line-height: 60px;
	background-color: #2F5874;
	/* background-color: #284b6-3; remove dash */
	color:#FFF;
	font-family: 'Cormorant Garamond', 'Times New Roman', serif;
	text-align: center;
	margin-top:100px;
}

.clearfloat {
	clear: both;
}
a {
	color: #2F5874;
}

/*media query for menu/navbar*/
@media(
	/*media query for tablets*/
	max-width:991px) {

	}
	/*media query for phones*/
@media (max-width:767px) {
		.navbar {
			height:300px;
			flex-direction:column;
			width:auto;

		}
		#nav-elt {
			flex:0 1 66%;/*height:200px;*/
			width:100%;
		}
		#nav-elt a {
			height:42px;
			width:100%;
			float:left;
		}
		.branding, .contact {
			flex:0 1 17%;
		}
		#main {
			width:auto;
			/*width:95%;
			margin-left:2.5%;
			margin-right:2.5%;
		}*/}
		#nav-elt #active {
			background-color:#2F5875;
			/*border-bottom: 3px solid #2F5875;*/
			color: #D9D9D9;
		}
		#nav-elt a:hover {
			background-color:#2F5875;
			/*border-bottom: 3px solid #2F5875;*/
			opacity: 0.7;
			color: #D9D9D9;
		}
		.paper-teaser {
			color: #353535;
		}
	}
	

